body {
	background:#202020;
}

header {
	background:white;
	padding:20px;
}

h1 {
	margin-top:0;
	color:blue;
}

nav {
	color:white;
}

.container {
	max-width:600px;
}

.color-square {
	padding-bottom:30%;
	border:0px solid black;
	margin: 1.6666%;
	width:30%;
	float:left;
	background: white;
}

.winner {
	box-shadow: 0px 0px 30px rgba(0, 255, 0, 1);
}